In [18]:
import pandas as pd

df = pd.read_html('Peoples_Exchange_Rates.html')[0]

In [19]:
df

   Unnamed: 0_level_0      Unnamed: 1_level_0    Currency               \
       Exchange Rates          Exchange Rates Buying Rate Selling Rate
0                 NaN              US Dollars    297.6334     308.3122
1                 NaN            Japanese Yen      1.8891       2.0310
2                 NaN  British Pound Sterling    374.7396     398.2489
3                 NaN                    Euro    317.1964     337.0511
4                 NaN       Australian Dollar    189.8461     204.9837
5                 NaN               Thai Baht      7.5379       8.6292
6                 NaN        Singapore Dollar    217.1434     232.0254
7                 NaN           Swedish Krona     25.0146      28.6334
8                 NaN             Saudi Riyal     72.5816      82.4488
9                 NaN             Qatari Rial     63.5737      84.8228
10                NaN              Omani Rial    716.0271     803.4469
11                NaN      New Zealand Dollar    161.4930     182.9891
12                NaN         Norwegian Krone     25.4621      28.1506
13                NaN       Malaysian Ringgit     59.7858      66.6987
14                NaN           Kuwaiti Dinar    888.4789    1011.4944
15                NaN         Jordanian Dinar    382.5381     436.2694
16                NaN            Indian Rupee      2.9989       3.6715
17                NaN        Hong Kong Dollar     35.9840      39.5058
18                NaN            Danish Krone      0.0000      45.0951
19                NaN            Chinese Yuan     38.1323      43.0661
20                NaN             Swiss Franc    324.3798     349.6188
21                NaN         Canadian Dollar    213.7367     223.4966
22                NaN          Bahraini Dinar    737.8905     820.5621
23                NaN                  Dirham     78.7284      85.5342

   TC's Drafts              Telegraphic Transfers
   Buying Rate Selling Rate           Buying Rate Selling Rate
0     298.3824     306.7783              299.5807     306.7783
1       1.9347       2.0159                1.9496       2.0159
2     382.8150     396.4648              384.5455     396.4648
3     322.5343     335.0409              323.5048     335.0409
4     193.0605     202.7735              194.8138     202.7735
5       0.0000       8.5446                8.3754       8.5446
6     223.3986     229.9558              223.3986     229.9558
7      27.5795      28.5620               27.5795      28.5620
8       0.0000      81.6405               80.0239      81.6405
9       0.0000      83.9913               82.3281      83.9913
10      0.0000     795.5700              779.8161     795.5700
11    175.7269     181.9868              175.7269     181.9868
12     27.0873      28.0804               27.0873      28.0804
13      0.0000      66.0447               64.7369      66.0447
14      0.0000    1001.5778              981.7446    1001.5778
15      0.0000     431.9922              423.4379     431.9922
16      0.0000       3.6715                3.5331       3.6715
17      0.0000      39.4073               38.2809      39.4073
18      0.0000      44.9827               43.3486      44.9827
19     40.9755      42.6480               40.9755      42.6480
20    336.0676     348.7470              338.7778     348.7470
21    214.0822     222.9392              215.9175     222.9392
22      0.0000     812.5174              796.4280     812.5174
23      0.0000      83.3876               81.7363      83.3876

In [20]:
df.columns = ['_'.join(col).strip() for col in df.columns.values]
df1= df.reset_index()

In [21]:
df1.head(20)

,index,Unnamed: 0_level_0_Exchange Rates,Unnamed: 1_level_0_Exchange Rates,Currency_Buying Rate,Currency_Selling Rate,TC's Drafts_Buying Rate,TC's Drafts_Selling Rate,Telegraphic Transfers_Buying Rate,Telegraphic Transfers_Selling Rate
0,0,NaN,US Dollars,297.6334,308.3122,298.3824,306.7783,299.5807,306.7783
1,1,NaN,Japanese Yen,1.8891,2.0310,1.9347,2.0159,1.9496,2.0159
2,2,NaN,British Pound Sterling,374.7396,398.2489,382.8150,396.4648,384.5455,396.4648
3,3,NaN,Euro,317.1964,337.0511,322.5343,335.0409,323.5048,335.0409
4,4,NaN,Australian Dollar,189.8461,204.9837,193.0605,202.7735,194.8138,202.7735
5,5,NaN,Thai Baht,7.5379,8.6292,0.0000,8.5446,8.3754,8.5446
6,6,NaN,Singapore Dollar,217.1434,232.0254,223.3986,229.9558,223.3986,229.9558
7,7,NaN,Swedish Krona,25.0146,28.6334,27.5795,28.5620,27.5795,28.5620
8,8,NaN,Saudi Riyal,72.5816,82.4488,0.0000,81.6405,80.0239,81.6405
9,9,NaN,Qatari Rial,63.5737,84.8228,0.0000,83.9913,82.3281,83.9913
10,10,NaN,Omani Rial,716.0271,803.4469,0.0000,795.5700,779.8161,795.5700
11,11,NaN,New Zealand Dollar,161.4930,182.9891,175.7269,181.9868,175.7269,181.9868
12,12,NaN,Norwegian Krone,25.4621,28.1506,27.0873,28.0804,27.0873,28.0804
13,13,NaN,Malaysian Ringgit,59.7858,66.6987,0.0000,66.0447,64.7369,66.0447
14,14,NaN,Kuwaiti Dinar,888.4789,1011.4944,0.0000,1001.5778,981.7446,1001.5778
15,15,NaN,Jordanian Dinar,382.5381,436.2694,0.0000,431.9922,423.4379,431.9922
16,16,NaN,Indian Rupee,2.9989,3.6715,0.0000,3.6715,3.5331,3.6715
17,17,NaN,Hong Kong Dollar,35.9840,39.5058,0.0000,39.4073,38.2809,39.4073
18,18,NaN,Danish Krone,0.0000,45.0951,0.0000,44.9827,43.3486,44.9827
19,19,NaN,Chinese Yuan,38.1323,43.0661,40.9755,42.6480,40.9755,42.6480

In [22]:
df_dropped = df1.drop(df1.columns[[0, 1]], axis=1)
df_dropped.head(25)

,Unnamed: 1_level_0_Exchange Rates,Currency_Buying Rate,Currency_Selling Rate,TC's Drafts_Buying Rate,TC's Drafts_Selling Rate,Telegraphic Transfers_Buying Rate,Telegraphic Transfers_Selling Rate
0,US Dollars,297.6334,308.3122,298.3824,306.7783,299.5807,306.7783
1,Japanese Yen,1.8891,2.0310,1.9347,2.0159,1.9496,2.0159
2,British Pound Sterling,374.7396,398.2489,382.8150,396.4648,384.5455,396.4648
3,Euro,317.1964,337.0511,322.5343,335.0409,323.5048,335.0409
4,Australian Dollar,189.8461,204.9837,193.0605,202.7735,194.8138,202.7735
5,Thai Baht,7.5379,8.6292,0.0000,8.5446,8.3754,8.5446
6,Singapore Dollar,217.1434,232.0254,223.3986,229.9558,223.3986,229.9558
7,Swedish Krona,25.0146,28.6334,27.5795,28.5620,27.5795,28.5620
8,Saudi Riyal,72.5816,82.4488,0.0000,81.6405,80.0239,81.6405
9,Qatari Rial,63.5737,84.8228,0.0000,83.9913,82.3281,83.9913
10,Omani Rial,716.0271,803.4469,0.0000,795.5700,779.8161,795.5700
11,New Zealand Dollar,161.4930,182.9891,175.7269,181.9868,175.7269,181.9868
12,Norwegian Krone,25.4621,28.1506,27.0873,28.0804,27.0873,28.0804
13,Malaysian Ringgit,59.7858,66.6987,0.0000,66.0447,64.7369,66.0447
14,Kuwaiti Dinar,888.4789,1011.4944,0.0000,1001.5778,981.7446,1001.5778
15,Jordanian Dinar,382.5381,436.2694,0.0000,431.9922,423.4379,431.9922
16,Indian Rupee,2.9989,3.6715,0.0000,3.6715,3.5331,3.6715
17,Hong Kong Dollar,35.9840,39.5058,0.0000,39.4073,38.2809,39.4073
18,Danish Krone,0.0000,45.0951,0.0000,44.9827,43.3486,44.9827
19,Chinese Yuan,38.1323,43.0661,40.9755,42.6480,40.9755,42.6480
20,Swiss Franc,324.3798,349.6188,336.0676,348.7470,338.7778,348.7470
21,Canadian Dollar,213.7367,223.4966,214.0822,222.9392,215.9175,222.9392
22,Bahraini Dinar,737.8905,820.5621,0.0000,812.5174,796.4280,812.5174
23,Dirham,78.7284,85.5342,0.0000,83.3876,81.7363,83.3876

In [23]:
df_dropped.columns = ['Currency', 'Currency_Buying_Rate', 'Currency_Selling_Rate','TCs_Drafts_Buying_Rate','TCs_Drafts_Selling_Rate','Telegraphic_Transfers_Buying_Rate','Telegraphic_Transfers_Selling_Rate']

In [24]:
df_dropped.head(30)

,Currency,Currency_Buying_Rate,Currency_Selling_Rate,TCs_Drafts_Buying_Rate,TCs_Drafts_Selling_Rate,Telegraphic_Transfers_Buying_Rate,Telegraphic_Transfers_Selling_Rate
0,US Dollars,297.6334,308.3122,298.3824,306.7783,299.5807,306.7783
1,Japanese Yen,1.8891,2.0310,1.9347,2.0159,1.9496,2.0159
2,British Pound Sterling,374.7396,398.2489,382.8150,396.4648,384.5455,396.4648
3,Euro,317.1964,337.0511,322.5343,335.0409,323.5048,335.0409
4,Australian Dollar,189.8461,204.9837,193.0605,202.7735,194.8138,202.7735
5,Thai Baht,7.5379,8.6292,0.0000,8.5446,8.3754,8.5446
6,Singapore Dollar,217.1434,232.0254,223.3986,229.9558,223.3986,229.9558
7,Swedish Krona,25.0146,28.6334,27.5795,28.5620,27.5795,28.5620
8,Saudi Riyal,72.5816,82.4488,0.0000,81.6405,80.0239,81.6405
9,Qatari Rial,63.5737,84.8228,0.0000,83.9913,82.3281,83.9913
10,Omani Rial,716.0271,803.4469,0.0000,795.5700,779.8161,795.5700
11,New Zealand Dollar,161.4930,182.9891,175.7269,181.9868,175.7269,181.9868
12,Norwegian Krone,25.4621,28.1506,27.0873,28.0804,27.0873,28.0804
13,Malaysian Ringgit,59.7858,66.6987,0.0000,66.0447,64.7369,66.0447
14,Kuwaiti Dinar,888.4789,1011.4944,0.0000,1001.5778,981.7446,1001.5778
15,Jordanian Dinar,382.5381,436.2694,0.0000,431.9922,423.4379,431.9922
16,Indian Rupee,2.9989,3.6715,0.0000,3.6715,3.5331,3.6715
17,Hong Kong Dollar,35.9840,39.5058,0.0000,39.4073,38.2809,39.4073
18,Danish Krone,0.0000,45.0951,0.0000,44.9827,43.3486,44.9827
19,Chinese Yuan,38.1323,43.0661,40.9755,42.6480,40.9755,42.6480
20,Swiss Franc,324.3798,349.6188,336.0676,348.7470,338.7778,348.7470
21,Canadian Dollar,213.7367,223.4966,214.0822,222.9392,215.9175,222.9392
22,Bahraini Dinar,737.8905,820.5621,0.0000,812.5174,796.4280,812.5174
23,Dirham,78.7284,85.5342,0.0000,83.3876,81.7363,83.3876